{% extends 'base.html' %}

{% block title %}MY POST{% endblock title %}

{% block new %}Add Post{% endblock new %}

{% block content %}
<h1>POSTS</h1>
    <ul>
      <div class = "container">
      <div class="row my-3">
      {%for post in object_list%}
      {% comment %} 
      <li>
      <h1>{{post.title}}-{{post.author}}</h1><br/>
        {{post.body}}
        <br/>
      </li> {% endcomment %}
      {% comment %} <div class="row">
        <div class="col-sm-6">
          <div class="card" >
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <a href="#" class="btn btn-primary">{{post.author}}</a>
          </div>
      </div>
    </div>
  </div> {% endcomment %}
          
            <div class="col-sm-4">
              <div class="card py-2">
                <div class="card-body">
                  <h5 class="card-title">{{post.title}}</h5>
                  <p class="card-text">{{post.body}}</p>
                  <a href="{% url 'detail-artilcal' post.pk %}" class="btn btn-primary">More</a>
                  {% if  user.is_authenticated %} 
                    {% if user.id == post.author%}
                      <a href="{% url 'updatePost' post.pk %}" class="btn btn-secondary">Edit</a>
                      <a href="{% url 'deletePost' post.pk %}" class="btn btn-danger">Delete</a>
                    {%endif%}
                  
                  {% endif %}
                  
                </div>
              </div>
            </div>    
          

      {% endfor %}
    </div>
    </ul>
  </div>
{% endblock content %}